<a href="https://colab.research.google.com/github/brenosyperrek/ufsc_projeto_final/blob/main/Projeto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando, padronizando e concatenando dados

In [ ]:
import pandas as pd

## Tratando arquivos 'bol'

In [ ]:
df_bol_2011 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2011.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2011.shape

(16294, 23)

In [ ]:
df_bol_2011.columns

Index(['numero_boletim', 'data hora_boletim', 'data_inclusao', 'tipo_acidente',
       'desc_tipo_acidente', 'cod_tempo', 'desc_tempo', 'cod_pavimento',
       'pavimento', 'cod_regional', 'desc_regional', 'origem_boletim',
       'local_sinalizado', 'velocidade_permitida', 'coordenada_x',
       'coordenada_y', 'hora_informada', 'indicador_fatalidade', 'valor_ups',
       'descricao_ups', 'data_alteracao_smsa', 'valor_ups_antiga',
       'descricao_ups_antiga'],
      dtype='object')

In [ ]:
df_bol_2011.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data hora_boletim' : 'DATA_HORA_BOLETIM',
                              'data_inclusao' : 'DATA_INCLUSAO',
                              'tipo_acidente' : 'TIPO_ACIDENTE',
                              'desc_tipo_acidente' : 'DESC_TIPO_ACIDENTE',
                              'cod_tempo' : 'COD_TEMPO',
                              'desc_tempo' : 'DESC_TEMPO',
                              'cod_pavimento' : 'COD_PAVIMENTO',
                              'pavimento' : 'PAVIMENTO',
                              'cod_regional' : 'COD_REGIONAL',
                              'desc_regional' : 'DESC_REGIONAL',
                              'origem_boletim' : 'ORIGEM_BOLETIM',
                              'local_sinalizado' : 'LOCAL_SINALIZADO',
                              'velocidade_permitida' : 'VELOCIDADE_PERMITIDA',
                              'coordenada_x' : 'COORDENADA_X',
                              'coordenada_y' : 'COORDENADA_Y',
                              'hora_informada' : 'HORA_INFORMADA',
                              'indicador_fatalidade' : 'INDICADOR_FATALIDADE',
                              'valor_ups' : 'VALOR_UPS',
                              'descricao_ups' : 'DESC_UPS',
                              'data_alteracao_smsa' : 'DATA_ALTERACAO_SMSA',
                              'valor_ups_antiga' : 'VALOR_UPS_ANTIGA',
                              'descricao_ups_antiga' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2011.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2012 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2012.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2012.shape

(15261, 23)

In [ ]:
df_bol_2012.columns

Index(['numero_boletim', 'data hora_boletim', 'data_inclusao', 'tipo_acidente',
       'desc_tipo_acidente', 'cod_tempo', 'desc_tempo', 'cod_pavimento',
       'pavimento', 'cod_regional', 'desc_regional', 'origem_boletim',
       'local_sinalizado', 'velocidade_permitida', 'coordenada_x',
       'coordenada_y', 'hora_informada', 'indicador_fatalidade', 'valor_ups',
       'descricao_ups', 'data_alteracao_smsa', 'valor_ups_antiga',
       'descricao_ups_antiga'],
      dtype='object')

In [ ]:
df_bol_2012.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data hora_boletim' : 'DATA_HORA_BOLETIM',
                              'data_inclusao' : 'DATA_INCLUSAO',
                              'tipo_acidente' : 'TIPO_ACIDENTE',
                              'desc_tipo_acidente' : 'DESC_TIPO_ACIDENTE',
                              'cod_tempo' : 'COD_TEMPO',
                              'desc_tempo' : 'DESC_TEMPO',
                              'cod_pavimento' : 'COD_PAVIMENTO',
                              'pavimento' : 'PAVIMENTO',
                              'cod_regional' : 'COD_REGIONAL',
                              'desc_regional' : 'DESC_REGIONAL',
                              'origem_boletim' : 'ORIGEM_BOLETIM',
                              'local_sinalizado' : 'LOCAL_SINALIZADO',
                              'velocidade_permitida' : 'VELOCIDADE_PERMITIDA',
                              'coordenada_x' : 'COORDENADA_X',
                              'coordenada_y' : 'COORDENADA_Y',
                              'hora_informada' : 'HORA_INFORMADA',
                              'indicador_fatalidade' : 'INDICADOR_FATALIDADE',
                              'valor_ups' : 'VALOR_UPS',
                              'descricao_ups' : 'DESC_UPS',
                              'data_alteracao_smsa' : 'DATA_ALTERACAO_SMSA',
                              'valor_ups_antiga' : 'VALOR_UPS_ANTIGA',
                              'descricao_ups_antiga' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2012.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2013 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2013.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2013.shape

(14145, 23)

In [ ]:
df_bol_2013.columns

Index(['numero_boletim', 'data hora_boletim', 'data_inclusao', 'tipo_acidente',
       'desc_tipo_acidente', 'cod_tempo', 'desc_tempo', 'cod_pavimento',
       'pavimento', 'cod_regional', 'desc_regional', 'origem_boletim',
       'local_sinalizado', 'velocidade_permitida', 'coordenada_x',
       'coordenada_y', 'hora_informada', 'indicador_fatalidade', 'valor_ups',
       'descricao_ups', 'data_alteracao_smsa', 'valor_ups_antiga',
       'descricao_ups_antiga'],
      dtype='object')

In [ ]:
df_bol_2013.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data hora_boletim' : 'DATA_HORA_BOLETIM',
                              'data_inclusao' : 'DATA_INCLUSAO',
                              'tipo_acidente' : 'TIPO_ACIDENTE',
                              'desc_tipo_acidente' : 'DESC_TIPO_ACIDENTE',
                              'cod_tempo' : 'COD_TEMPO',
                              'desc_tempo' : 'DESC_TEMPO',
                              'cod_pavimento' : 'COD_PAVIMENTO',
                              'pavimento' : 'PAVIMENTO',
                              'cod_regional' : 'COD_REGIONAL',
                              'desc_regional' : 'DESC_REGIONAL',
                              'origem_boletim' : 'ORIGEM_BOLETIM',
                              'local_sinalizado' : 'LOCAL_SINALIZADO',
                              'velocidade_permitida' : 'VELOCIDADE_PERMITIDA',
                              'coordenada_x' : 'COORDENADA_X',
                              'coordenada_y' : 'COORDENADA_Y',
                              'hora_informada' : 'HORA_INFORMADA',
                              'indicador_fatalidade' : 'INDICADOR_FATALIDADE',
                              'valor_ups' : 'VALOR_UPS',
                              'descricao_ups' : 'DESC_UPS',
                              'data_alteracao_smsa' : 'DATA_ALTERACAO_SMSA',
                              'valor_ups_antiga' : 'VALOR_UPS_ANTIGA',
                              'descricao_ups_antiga' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2013.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2014 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2014.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2014.shape

(14965, 23)

In [ ]:
df_bol_2014.columns

Index(['numero_boletim', 'data hora_boletim', 'data_inclusao', 'tipo_acidente',
       'desc_tipo_acidente', 'cod_tempo', 'desc_tempo', 'cod_pavimento',
       'pavimento', 'cod_regional', 'desc_regional', 'origem_boletim',
       'local_sinalizado', 'velocidade_permitida', 'coordenada_x',
       'coordenada_y', 'hora_informada', 'indicador_fatalidade', 'valor_ups',
       'descricao_ups', 'data_alteracao_smsa', 'valor_ups_antiga',
       'descricao_ups_antiga'],
      dtype='object')

In [ ]:
df_bol_2014.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data hora_boletim' : 'DATA_HORA_BOLETIM',
                              'data_inclusao' : 'DATA_INCLUSAO',
                              'tipo_acidente' : 'TIPO_ACIDENTE',
                              'desc_tipo_acidente' : 'DESC_TIPO_ACIDENTE',
                              'cod_tempo' : 'COD_TEMPO',
                              'desc_tempo' : 'DESC_TEMPO',
                              'cod_pavimento' : 'COD_PAVIMENTO',
                              'pavimento' : 'PAVIMENTO',
                              'cod_regional' : 'COD_REGIONAL',
                              'desc_regional' : 'DESC_REGIONAL',
                              'origem_boletim' : 'ORIGEM_BOLETIM',
                              'local_sinalizado' : 'LOCAL_SINALIZADO',
                              'velocidade_permitida' : 'VELOCIDADE_PERMITIDA',
                              'coordenada_x' : 'COORDENADA_X',
                              'coordenada_y' : 'COORDENADA_Y',
                              'hora_informada' : 'HORA_INFORMADA',
                              'indicador_fatalidade' : 'INDICADOR_FATALIDADE',
                              'valor_ups' : 'VALOR_UPS',
                              'descricao_ups' : 'DESC_UPS',
                              'data_alteracao_smsa' : 'DATA_ALTERACAO_SMSA',
                              'valor_ups_antiga' : 'VALOR_UPS_ANTIGA',
                              'descricao_ups_antiga' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2014.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2015 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2015.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2015.shape

(13299, 23)

In [ ]:
df_bol_2015.columns

Index(['numero_boletim', 'data hora_boletim', 'data_inclusao', 'tipo_acidente',
       'desc_tipo_acidente', 'cod_tempo', 'desc_tempo', 'cod_pavimento',
       'pavimento', 'cod_regional', 'desc_regional', 'origem_boletim',
       'local_sinalizado', 'velocidade_permitida', 'coordenada_x',
       'coordenada_y', 'hora_informada', 'indicador_fatalidade', 'valor_ups',
       'descricao_ups', 'data_alteracao_smsa', 'valor_ups_antiga',
       'descricao_ups_antiga'],
      dtype='object')

In [ ]:
df_bol_2015.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data hora_boletim' : 'DATA_HORA_BOLETIM',
                              'data_inclusao' : 'DATA_INCLUSAO',
                              'tipo_acidente' : 'TIPO_ACIDENTE',
                              'desc_tipo_acidente' : 'DESC_TIPO_ACIDENTE',
                              'cod_tempo' : 'COD_TEMPO',
                              'desc_tempo' : 'DESC_TEMPO',
                              'cod_pavimento' : 'COD_PAVIMENTO',
                              'pavimento' : 'PAVIMENTO',
                              'cod_regional' : 'COD_REGIONAL',
                              'desc_regional' : 'DESC_REGIONAL',
                              'origem_boletim' : 'ORIGEM_BOLETIM',
                              'local_sinalizado' : 'LOCAL_SINALIZADO',
                              'velocidade_permitida' : 'VELOCIDADE_PERMITIDA',
                              'coordenada_x' : 'COORDENADA_X',
                              'coordenada_y' : 'COORDENADA_Y',
                              'hora_informada' : 'HORA_INFORMADA',
                              'indicador_fatalidade' : 'INDICADOR_FATALIDADE',
                              'valor_ups' : 'VALOR_UPS',
                              'descricao_ups' : 'DESC_UPS',
                              'data_alteracao_smsa' : 'DATA_ALTERACAO_SMSA',
                              'valor_ups_antiga' : 'VALOR_UPS_ANTIGA',
                              'descricao_ups_antiga' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2015.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2016 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2016.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2016.shape

(12477, 23)

In [ ]:
df_bol_2016.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2016.rename(columns = {'NUMERO_BOLETIM' : 'NUMERO_BOLETIM',
                              'DATA HORA_BOLETIM' : 'DATA_HORA_BOLETIM',
                              'DATA_INCLUSAO' : 'DATA_INCLUSAO',
                              'TIPO_ACIDENTE' : 'TIPO_ACIDENTE',
                              'DESC_TIPO_ACIDENTE' : 'DESC_TIPO_ACIDENTE',
                              'COD_TEMPO' : 'COD_TEMPO',
                              'DESC_TEMPO' : 'DESC_TEMPO',
                              'COD_PAVIMENTO' : 'COD_PAVIMENTO',
                              'PAVIMENTO' : 'PAVIMENTO',
                              'COD_REGIONAL' : 'COD_REGIONAL',
                              'DESC_REGIONAL' : 'DESC_REGIONAL',
                              'ORIGEM_BOLETIM' : 'ORIGEM_BOLETIM',
                              'LOCAL_SINALIZADO' : 'LOCAL_SINALIZADO',
                              'VELOCIDADE_PERMITIDA' : 'VELOCIDADE_PERMITIDA',
                              'COORDENADA_X' : 'COORDENADA_X',
                              'COORDENADA_Y' : 'COORDENADA_Y',
                              'HORA_INFORMADA' : 'HORA_INFORMADA',
                              'INDICADOR_FATALIDADE' : 'INDICADOR_FATALIDADE',
                              'VALOR_UPS' : 'VALOR_UPS',
                              'DESCRIÇÃO_UPS' : 'DESC_UPS',
                              'DATA_ALTERACAO_SMSA' : 'DATA_ALTERACAO_SMSA',
                              'VALOR_UPS_ANTIGA' : 'VALOR_UPS_ANTIGA',
                              'DESCRIÇÃO_UPS_ANTIGA' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2016.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2017 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2017.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2017.shape

(12243, 23)

In [ ]:
df_bol_2017.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2017.rename(columns = {'NUMERO_BOLETIM' : 'NUMERO_BOLETIM',
                              'DATA HORA_BOLETIM' : 'DATA_HORA_BOLETIM',
                              'DATA_INCLUSAO' : 'DATA_INCLUSAO',
                              'TIPO_ACIDENTE' : 'TIPO_ACIDENTE',
                              'DESC_TIPO_ACIDENTE' : 'DESC_TIPO_ACIDENTE',
                              'COD_TEMPO' : 'COD_TEMPO',
                              'DESC_TEMPO' : 'DESC_TEMPO',
                              'COD_PAVIMENTO' : 'COD_PAVIMENTO',
                              'PAVIMENTO' : 'PAVIMENTO',
                              'COD_REGIONAL' : 'COD_REGIONAL',
                              'DESC_REGIONAL' : 'DESC_REGIONAL',
                              'ORIGEM_BOLETIM' : 'ORIGEM_BOLETIM',
                              'LOCAL_SINALIZADO' : 'LOCAL_SINALIZADO',
                              'VELOCIDADE_PERMITIDA' : 'VELOCIDADE_PERMITIDA',
                              'COORDENADA_X' : 'COORDENADA_X',
                              'COORDENADA_Y' : 'COORDENADA_Y',
                              'HORA_INFORMADA' : 'HORA_INFORMADA',
                              'INDICADOR_FATALIDADE' : 'INDICADOR_FATALIDADE',
                              'VALOR_UPS' : 'VALOR_UPS',
                              'DESCRIÇÃO_UPS' : 'DESC_UPS',
                              'DATA_ALTERACAO_SMSA' : 'DATA_ALTERACAO_SMSA',
                              'VALOR_UPS_ANTIGA' : 'VALOR_UPS_ANTIGA',
                              'DESCRIÇÃO_UPS_ANTIGA' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2017.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2018 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2018.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2018.shape

(11656, 23)

In [ ]:
df_bol_2018.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2018.rename(columns = {'NUMERO_BOLETIM' : 'NUMERO_BOLETIM',
                              'DATA HORA_BOLETIM' : 'DATA_HORA_BOLETIM',
                              'DATA_INCLUSAO' : 'DATA_INCLUSAO',
                              'TIPO_ACIDENTE' : 'TIPO_ACIDENTE',
                              'DESC_TIPO_ACIDENTE' : 'DESC_TIPO_ACIDENTE',
                              'COD_TEMPO' : 'COD_TEMPO',
                              'DESC_TEMPO' : 'DESC_TEMPO',
                              'COD_PAVIMENTO' : 'COD_PAVIMENTO',
                              'PAVIMENTO' : 'PAVIMENTO',
                              'COD_REGIONAL' : 'COD_REGIONAL',
                              'DESC_REGIONAL' : 'DESC_REGIONAL',
                              'ORIGEM_BOLETIM' : 'ORIGEM_BOLETIM',
                              'LOCAL_SINALIZADO' : 'LOCAL_SINALIZADO',
                              'VELOCIDADE_PERMITIDA' : 'VELOCIDADE_PERMITIDA',
                              'COORDENADA_X' : 'COORDENADA_X',
                              'COORDENADA_Y' : 'COORDENADA_Y',
                              'HORA_INFORMADA' : 'HORA_INFORMADA',
                              'INDICADOR_FATALIDADE' : 'INDICADOR_FATALIDADE',
                              'VALOR_UPS' : 'VALOR_UPS',
                              'DESCRIÇÃO_UPS' : 'DESC_UPS',
                              'DATA_ALTERACAO_SMSA' : 'DATA_ALTERACAO_SMSA',
                              'VALOR_UPS_ANTIGA' : 'VALOR_UPS_ANTIGA',
                              'DESCRIÇÃO_UPS_ANTIGA' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2018.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2019 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2019.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2019.shape

(13342, 23)

In [ ]:
df_bol_2019.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2019.rename(columns = {'NUMERO_BOLETIM' : 'NUMERO_BOLETIM',
                              'DATA HORA_BOLETIM' : 'DATA_HORA_BOLETIM',
                              'DATA_INCLUSAO' : 'DATA_INCLUSAO',
                              'TIPO_ACIDENTE' : 'TIPO_ACIDENTE',
                              'DESC_TIPO_ACIDENTE' : 'DESC_TIPO_ACIDENTE',
                              'COD_TEMPO' : 'COD_TEMPO',
                              'DESC_TEMPO' : 'DESC_TEMPO',
                              'COD_PAVIMENTO' : 'COD_PAVIMENTO',
                              'PAVIMENTO' : 'PAVIMENTO',
                              'COD_REGIONAL' : 'COD_REGIONAL',
                              'DESC_REGIONAL' : 'DESC_REGIONAL',
                              'ORIGEM_BOLETIM' : 'ORIGEM_BOLETIM',
                              'LOCAL_SINALIZADO' : 'LOCAL_SINALIZADO',
                              'VELOCIDADE_PERMITIDA' : 'VELOCIDADE_PERMITIDA',
                              'COORDENADA_X' : 'COORDENADA_X',
                              'COORDENADA_Y' : 'COORDENADA_Y',
                              'HORA_INFORMADA' : 'HORA_INFORMADA',
                              'INDICADOR_FATALIDADE' : 'INDICADOR_FATALIDADE',
                              'VALOR_UPS' : 'VALOR_UPS',
                              'DESCRIÇÃO_UPS' : 'DESC_UPS',
                              'DATA_ALTERACAO_SMSA' : 'DATA_ALTERACAO_SMSA',
                              'VALOR_UPS_ANTIGA' : 'VALOR_UPS_ANTIGA',
                              'DESCRIÇÃO_UPS_ANTIGA' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2019.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2020 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2020.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2020.shape

(10624, 23)

In [ ]:
df_bol_2020.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2020.rename(columns = {'NUMERO_BOLETIM' : 'NUMERO_BOLETIM',
                              'DATA HORA_BOLETIM' : 'DATA_HORA_BOLETIM',
                              'DATA_INCLUSAO' : 'DATA_INCLUSAO',
                              'TIPO_ACIDENTE' : 'TIPO_ACIDENTE',
                              'DESC_TIPO_ACIDENTE' : 'DESC_TIPO_ACIDENTE',
                              'COD_TEMPO' : 'COD_TEMPO',
                              'DESC_TEMPO' : 'DESC_TEMPO',
                              'COD_PAVIMENTO' : 'COD_PAVIMENTO',
                              'PAVIMENTO' : 'PAVIMENTO',
                              'COD_REGIONAL' : 'COD_REGIONAL',
                              'DESC_REGIONAL' : 'DESC_REGIONAL',
                              'ORIGEM_BOLETIM' : 'ORIGEM_BOLETIM',
                              'LOCAL_SINALIZADO' : 'LOCAL_SINALIZADO',
                              'VELOCIDADE_PERMITIDA' : 'VELOCIDADE_PERMITIDA',
                              'COORDENADA_X' : 'COORDENADA_X',
                              'COORDENADA_Y' : 'COORDENADA_Y',
                              'HORA_INFORMADA' : 'HORA_INFORMADA',
                              'INDICADOR_FATALIDADE' : 'INDICADOR_FATALIDADE',
                              'VALOR_UPS' : 'VALOR_UPS',
                              'DESCRIÇÃO_UPS' : 'DESC_UPS',
                              'DATA_ALTERACAO_SMSA' : 'DATA_ALTERACAO_SMSA',
                              'VALOR_UPS_ANTIGA' : 'VALOR_UPS_ANTIGA',
                              'DESCRIÇÃO_UPS_ANTIGA' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2020.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2021 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-bol-2021.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_bol_2021.shape

(11122, 23)

In [ ]:
df_bol_2021.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [ ]:
df_bol_2021.rename(columns = {'NUMERO_BOLETIM' : 'NUMERO_BOLETIM',
                              'DATA HORA_BOLETIM' : 'DATA_HORA_BOLETIM',
                              'DATA_INCLUSAO' : 'DATA_INCLUSAO',
                              'TIPO_ACIDENTE' : 'TIPO_ACIDENTE',
                              'DESC_TIPO_ACIDENTE' : 'DESC_TIPO_ACIDENTE',
                              'COD_TEMPO' : 'COD_TEMPO',
                              'DESC_TEMPO' : 'DESC_TEMPO',
                              'COD_PAVIMENTO' : 'COD_PAVIMENTO',
                              'PAVIMENTO' : 'PAVIMENTO',
                              'COD_REGIONAL' : 'COD_REGIONAL',
                              'DESC_REGIONAL' : 'DESC_REGIONAL',
                              'ORIGEM_BOLETIM' : 'ORIGEM_BOLETIM',
                              'LOCAL_SINALIZADO' : 'LOCAL_SINALIZADO',
                              'VELOCIDADE_PERMITIDA' : 'VELOCIDADE_PERMITIDA',
                              'COORDENADA_X' : 'COORDENADA_X',
                              'COORDENADA_Y' : 'COORDENADA_Y',
                              'HORA_INFORMADA' : 'HORA_INFORMADA',
                              'INDICADOR_FATALIDADE' : 'INDICADOR_FATALIDADE',
                              'VALOR_UPS' : 'VALOR_UPS',
                              'DESCRIÇÃO_UPS' : 'DESC_UPS',
                              'DATA_ALTERACAO_SMSA' : 'DATA_ALTERACAO_SMSA',
                              'VALOR_UPS_ANTIGA' : 'VALOR_UPS_ANTIGA',
                              'DESCRIÇÃO_UPS_ANTIGA' : 'DESC_UPS_ANTIGA'}, inplace = True)

In [ ]:
df_bol_2021.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

In [ ]:
frames_bol = [df_bol_2011, df_bol_2012, df_bol_2013, df_bol_2014, df_bol_2015, df_bol_2016, df_bol_2017, df_bol_2018, df_bol_2019, df_bol_2020, df_bol_2021]

In [ ]:
df_bol = pd.concat(frames_bol)
df_bol.shape

(145428, 23)

In [ ]:
df_bol.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA'],
      dtype='object')

## Tratando arquivos "log"

In [ ]:
df_log_2011 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2011.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2011.shape

(20540, 16)

In [ ]:
df_log_2011.columns

Index(['numero_boletim', 'data_boletim', 'numero_municipio', 'nome_municipio',
       'sequencia_logradouros', 'numero_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Numero_bairro', 'nome_bairro',
       'tipo_bairro', 'descricao_tipo_bairro', 'numero_imovel',
       'numero_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2011.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'numero_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'sequencia_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'numero_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Numero_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'numero_imovel' : 'NUMERO_IMOVEL',
                              'numero_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2011.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2012 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2012.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2012.shape

(19909, 16)

In [ ]:
df_log_2012.columns

Index(['numero_boletim', 'data_boletim', 'numero_municipio', 'nome_municipio',
       'sequencia_logradouros', 'numero_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Numero_bairro', 'nome_bairro',
       'tipo_bairro', 'descricao_tipo_bairro', 'numero_imovel',
       'numero_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2012.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'numero_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'sequencia_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'numero_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Numero_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'numero_imovel' : 'NUMERO_IMOVEL',
                              'numero_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2012.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2013 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2013.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2013.shape

(19446, 16)

In [ ]:
df_log_2013.columns

Index(['numero_boletim', 'data_boletim', 'numero_municipio', 'nome_municipio',
       'sequencia_logradouros', 'numero_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Numero_bairro', 'nome_bairro',
       'tipo_bairro', 'descricao_tipo_bairro', 'numero_imovel',
       'numero_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2013.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'numero_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'sequencia_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'numero_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Numero_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'numero_imovel' : 'NUMERO_IMOVEL',
                              'numero_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2013.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2014 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2014.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2014.shape

(20600, 16)

In [ ]:
df_log_2014.columns

Index(['numero_boletim', 'data_boletim', 'numero_municipio', 'nome_municipio',
       'sequencia_logradouros', 'numero_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Numero_bairro', 'nome_bairro',
       'tipo_bairro', 'descricao_tipo_bairro', 'numero_imovel',
       'numero_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2014.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'numero_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'sequencia_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'numero_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Numero_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'numero_imovel' : 'NUMERO_IMOVEL',
                              'numero_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2014.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2015 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2015.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2015.shape

(17644, 16)

In [ ]:
df_log_2015.columns

Index(['numero_boletim', 'data_boletim', 'numero_municipio', 'nome_municipio',
       'sequencia_logradouros', 'numero_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Numero_bairro', 'nome_bairro',
       'tipo_bairro', 'descricao_tipo_bairro', 'numero_imovel',
       'numero_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2015.rename(columns = {'numero_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'numero_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'sequencia_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'numero_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Numero_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'numero_imovel' : 'NUMERO_IMOVEL',
                              'numero_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2015.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2016 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2016.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2016.shape

(16392, 16)

In [ ]:
df_log_2016.columns

Index(['Nº_boletim', 'data_boletim', 'Nº_municipio', 'nome_municipio',
       'seq_logradouros', 'Nº_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Nº_bairro', 'nome_bairro', 'tipo_bairro',
       'descricao_tipo_bairro', 'Nº_imovel', 'Nº_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2016.rename(columns = {'Nº_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'Nº_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'seq_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'Nº_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Nº_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'Nº_imovel' : 'NUMERO_IMOVEL',
                              'Nº_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2016.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2017 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2017.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2017.shape

(16072, 16)

In [ ]:
df_log_2017.columns

Index(['Nº_boletim', 'data_boletim', 'Nº_municipio', 'nome_municipio',
       'seq_logradouros', 'Nº_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Nº_bairro', 'nome_bairro', 'tipo_bairro',
       'descricao_tipo_bairro', 'Nº_imovel', 'Nº_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2017.rename(columns = {'Nº_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'Nº_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'seq_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'Nº_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Nº_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'Nº_imovel' : 'NUMERO_IMOVEL',
                              'Nº_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2017.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2018 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2018.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2018.shape

(15253, 16)

In [ ]:
df_log_2018.columns

Index(['Nº_boletim', 'data_boletim', 'Nº_municipio', 'nome_municipio',
       'seq_logradouros', 'Nº_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Nº_bairro', 'nome_bairro', 'tipo_bairro',
       'descricao_tipo_bairro', 'Nº_imovel', 'Nº_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2018.rename(columns = {'Nº_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'Nº_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'seq_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'Nº_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Nº_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'Nº_imovel' : 'NUMERO_IMOVEL',
                              'Nº_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2018.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2019 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2019.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2019.shape

(17576, 16)

In [ ]:
df_log_2019.columns

Index(['Nº_boletim', 'data_boletim', 'Nº_municipio', 'nome_municipio',
       'seq_logradouros', 'Nº_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradouro_anterior', 'Nº_bairro', 'nome_bairro', 'tipo_bairro',
       'descricao_tipo_bairro', 'Nº_imovel', 'Nº_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2019.rename(columns = {'Nº_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'Nº_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'seq_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'Nº_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradouro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Nº_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'Nº_imovel' : 'NUMERO_IMOVEL',
                              'Nº_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2019.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2020 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2020.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2020.shape

(14181, 16)

In [ ]:
df_log_2020.columns

Index(['Nº_boletim', 'data_boletim', 'Nº_municipio', 'nome_municipio',
       'seq_logradouros', 'Nº_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradouro_anterior', 'Nº_bairro', 'nome_bairro', 'tipo_bairro',
       'descricao_tipo_bairro', 'Nº_imovel', 'Nº_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2020.rename(columns = {'Nº_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'Nº_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'seq_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'Nº_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradouro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Nº_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'Nº_imovel' : 'NUMERO_IMOVEL',
                              'Nº_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2020.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
df_log_2021 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/si-log-2021.csv', encoding='iso8859-1', sep = ";", skipinitialspace = True)
df_log_2021.shape

(14437, 16)

In [ ]:
df_log_2021.columns

Index(['Nº_boletim', 'data_boletim', 'Nº_municipio', 'nome_municipio',
       'seq_logradouros', 'Nº_logradouro', 'tipo_logradouro',
       'nome_logradouro', 'tipo_logradouro_anterior',
       'nome_logradoro_anterior', 'Nº_bairro', 'nome_bairro', 'tipo_bairro',
       'descricao_tipo_bairro', 'Nº_imovel', 'Nº_imovel_proximo'],
      dtype='object')

In [ ]:
df_log_2021.rename(columns = {'Nº_boletim' : 'NUMERO_BOLETIM',
                              'data_boletim' : 'DATA_BOLETIM',
                              'Nº_municipio' : 'NUMERO_MUNICIPIO',
                              'nome_municipio' : 'NOME_MUNICIPIO',
                              'seq_logradouros' : 'SEQUENCIA_LOGRADOUROS',
                              'Nº_logradouro' : 'NUMERO_LOGRADOURO',
                              'tipo_logradouro' : 'TIPO_LOGRADOURO',
                              'nome_logradouro' : 'NOME_LOGRADOURO',
                              'tipo_logradouro_anterior' : 'TIPO_LOGRADOURO_ANTERIOR',
                              'nome_logradoro_anterior' : 'NOME_LOGRADOURO_ANTERIOR',
                              'Nº_bairro' : 'NUMERO_BAIRRO',
                              'nome_bairro' : 'NOME_BAIRRO',
                              'tipo_bairro' : 'TIPO_BAIRRO',
                              'descricao_tipo_bairro' : 'DESCRICAO_TIPO_BAIRRO',
                              'Nº_imovel' : 'NUMERO_IMOVEL',
                              'Nº_imovel_proximo' : 'NUMERO_IMOVEL_PROXIMO'}, inplace = True)

In [ ]:
df_log_2021.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

In [ ]:
frames_log = [df_log_2011, df_log_2012, df_log_2013, df_log_2014, df_log_2015, df_log_2016, df_log_2017, df_log_2018, df_log_2019, df_log_2020, df_log_2021]

In [ ]:
df_log = pd.concat(frames_log)
df_log.shape

(192050, 16)

In [ ]:
df_log.columns

Index(['NUMERO_BOLETIM', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

#Fazendo merge dos dataframes

In [ ]:
df = pd.merge(df_bol, df_log, how = 'inner', on = 'NUMERO_BOLETIM')

In [ ]:
df.shape

(193021, 38)

In [ ]:
df.columns

Index(['NUMERO_BOLETIM', 'DATA_HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESC_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESC_UPS_ANTIGA', 'DATA_BOLETIM', 'NUMERO_MUNICIPIO', 'NOME_MUNICIPIO',
       'SEQUENCIA_LOGRADOUROS', 'NUMERO_LOGRADOURO', 'TIPO_LOGRADOURO',
       'NOME_LOGRADOURO', 'TIPO_LOGRADOURO_ANTERIOR',
       'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_BAIRRO', 'NOME_BAIRRO',
       'TIPO_BAIRRO', 'DESCRICAO_TIPO_BAIRRO', 'NUMERO_IMOVEL',
       'NUMERO_IMOVEL_PROXIMO'],
      dtype='object')

# Deletando colunas sem informação relevante

In [ ]:
df = df.drop(columns=['TIPO_LOGRADOURO_ANTERIOR', 'NOME_LOGRADOURO_ANTERIOR', 'NUMERO_IMOVEL_PROXIMO', 'VELOCIDADE_PERMITIDA', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA', 'DESC_UPS_ANTIGA', 'HORA_INFORMADA','DATA_BOLETIM','NOME_LOGRADOURO_ANTERIOR'])

In [ ]:
df.shape

(193021, 29)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193021 entries, 0 to 193020
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   NUMERO_BOLETIM         193021 non-null  object
 1   DATA_HORA_BOLETIM      193021 non-null  object
 2   DATA_INCLUSAO          193021 non-null  object
 3   TIPO_ACIDENTE          193021 non-null  object
 4   DESC_TIPO_ACIDENTE     193021 non-null  object
 5   COD_TEMPO              193021 non-null  int64
 6   DESC_TEMPO             193021 non-null  object
 7   COD_PAVIMENTO          193021 non-null  int64
 8   PAVIMENTO              193021 non-null  object
 9   COD_REGIONAL           193021 non-null  int64
 10  DESC_REGIONAL          188623 non-null  object
 11  ORIGEM_BOLETIM         193021 non-null  object
 12  LOCAL_SINALIZADO       193021 non-null  object
 13  COORDENADA_X           193021 non-null  float64
 14  COORDENADA_Y           193021 non-null  float64
 15  INDICADOR_FATALIDADE   193021 non-null  object
 16  VALOR_UPS              193021 non-null  int64
 17  DESC_UPS               193021 non-null  object
 18  NUMERO_MUNICIPIO       193021 non-null  int64
 19  NOME_MUNICIPIO         193021 non-null  object
 20  SEQUENCIA_LOGRADOUROS  193021 non-null  int64
 21  NUMERO_LOGRADOURO      193021 non-null  int64
 22  TIPO_LOGRADOURO        193021 non-null  object
 23  NOME_LOGRADOURO        193021 non-null  object
 24  NUMERO_BAIRRO          193021 non-null  int64
 25  NOME_BAIRRO            193021 non-null  object
 26  TIPO_BAIRRO            193021 non-null  object
 27  DESCRICAO_TIPO_BAIRRO  193021 non-null  object
 28  NUMERO_IMOVEL          193021 non-null  object
dtypes: float64(2), int64(8), object(19)
memory usage: 44.2+ MB

# Convertendo campos de data e hora para datetime

In [ ]:
df['DATA_HORA_BOLETIM'] = pd.to_datetime(df['DATA_HORA_BOLETIM'])
df['DATA_INCLUSAO'] = pd.to_datetime(df['DATA_INCLUSAO'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193021 entries, 0 to 193020
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   NUMERO_BOLETIM         193021 non-null  object
 1   DATA_HORA_BOLETIM      193021 non-null  datetime64[ns]
 2   DATA_INCLUSAO          193021 non-null  datetime64[ns]
 3   TIPO_ACIDENTE          193021 non-null  object
 4   DESC_TIPO_ACIDENTE     193021 non-null  object
 5   COD_TEMPO              193021 non-null  int64
 6   DESC_TEMPO             193021 non-null  object
 7   COD_PAVIMENTO          193021 non-null  int64
 8   PAVIMENTO              193021 non-null  object
 9   COD_REGIONAL           193021 non-null  int64
 10  DESC_REGIONAL          188623 non-null  object
 11  ORIGEM_BOLETIM         193021 non-null  object
 12  LOCAL_SINALIZADO       193021 non-null  object
 13  COORDENADA_X           193021 non-null  float64
 14  COORDENADA_Y           193021 non-null  float64
 15  INDICADOR_FATALIDADE   193021 non-null  object
 16  VALOR_UPS              193021 non-null  int64
 17  DESC_UPS               193021 non-null  object
 18  NUMERO_MUNICIPIO       193021 non-null  int64
 19  NOME_MUNICIPIO         193021 non-null  object
 20  SEQUENCIA_LOGRADOUROS  193021 non-null  int64
 21  NUMERO_LOGRADOURO      193021 non-null  int64
 22  TIPO_LOGRADOURO        193021 non-null  object
 23  NOME_LOGRADOURO        193021 non-null  object
 24  NUMERO_BAIRRO          193021 non-null  int64
 25  NOME_BAIRRO            193021 non-null  object
 26  TIPO_BAIRRO            193021 non-null  object
 27  DESCRICAO_TIPO_BAIRRO  193021 non-null  object
 28  NUMERO_IMOVEL          193021 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(8), object(17)
memory usage: 44.2+ MB

In [ ]:
df.head()

,NUMERO_BOLETIM,DATA_HORA_BOLETIM,DATA_INCLUSAO,TIPO_ACIDENTE,DESC_TIPO_ACIDENTE,COD_TEMPO,DESC_TEMPO,COD_PAVIMENTO,PAVIMENTO,COD_REGIONAL,...,NOME_MUNICIPIO,SEQUENCIA_LOGRADOUROS,NUMERO_LOGRADOURO,TIPO_LOGRADOURO,NOME_LOGRADOURO,NUMERO_BAIRRO,NOME_BAIRRO,TIPO_BAIRRO,DESCRICAO_TIPO_BAIRRO,NUMERO_IMOVEL
0,9,2011-12-31 21:35:00,2012-02-14,H06002,ATROPELAMENTO DE PESSOA SEM VITIMA FATAL ...,0,NAO INFORMADO,0,NAO INFORMADO,26,...,BELO HORIZONTE,1,7416,RUA,JOSE FELIX MARTINS ...,719,MANTIQUEIRA ...,B,BAIRRO,915
1,161,2011-12-31 22:16:00,2012-02-14,H08002,CHOQUE MECANICO COM VITIMA ...,1,BOM,1,ASFALTO,18,...,BELO HORIZONTE,1,10320,ROD,ANEL RODOVIARIO CELSO MELLO AZEVEDO ...,610,DAS INDUSTRIAS ...,B,BAIRRO,S/N
2,198,2011-01-01 00:50:00,2011-10-02,H01002,ABALROAMENTO COM VITIMA ...,1,BOM,1,ASFALTO,19,...,BELO HORIZONTE,1,17228,AVE,DO CONTORNO ...,617,BARRO PRETO ...,B,BAIRRO,10660
3,223,2011-01-01 00:20:00,2011-10-02,H04000,QUEDA DE PESSOA DE VEICULO ...,1,BOM,1,ASFALTO,20,...,BELO HORIZONTE,1,45395,AVE,MEM DE SA ...,1307,CONEGO PINHEIRO PRIMEIRA SECAO ...,B,BAIRRO,199
4,246,2011-12-31 23:39:00,2012-09-01,H02002,CAPOTAMENTO/TOMBAMENTO COM VITIMA ...,0,NAO INFORMADO,0,NAO INFORMADO,20,...,BELO HORIZONTE,1,3761,AVE,DOS ANDRADAS ...,765,SANTA EFIGENIA ...,B,BAIRRO,s/n

# Verificando dados não informados ou faltantes

In [ ]:
df.groupby(['DESC_TEMPO']).count()['NUMERO_BOLETIM']

DESC_TEMPO
BOM                 57332
CHUVA                4532
NAO INFORMADO      128677
NEBLINA                55
NUBLADO              2425
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.groupby(['COD_TEMPO']).count()['NUMERO_BOLETIM']

COD_TEMPO
0    128677
1     57332
2      4532
3        55
4      2425
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.groupby(['PAVIMENTO']).count()['NUMERO_BOLETIM']

PAVIMENTO
ASFALTO             65668
CALCAMENTO            445
CONCRETO              330
NAO INFORMADO      126568
TERRA                  10
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.groupby(['COD_PAVIMENTO']).count()['NUMERO_BOLETIM']

COD_PAVIMENTO
0    126568
1     65668
2       330
3        10
4       445
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.groupby(['COD_REGIONAL']).count()['NUMERO_BOLETIM']

COD_REGIONAL
0      4398
18    15725
19    40922
20    16941
21    19655
22    25250
23    14449
24    19656
25    22150
26    13875
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
index_names = df[(df['COD_TEMPO'] == 0) | (df['COD_PAVIMENTO'] == 0) | (df['COD_REGIONAL'] == 0) ].index

In [ ]:
index_names

Int64Index([     0,      4,      5,      8,      9,     10,     11,     12,
                13,     25,
            ...
            192999, 193000, 193006, 193007, 193008, 193012, 193016, 193017,
            193018, 193019],
           dtype='int64', length=131022)

In [ ]:
df.drop(index_names, inplace = True)

In [ ]:
df.shape

(61999, 29)

In [ ]:
df.groupby(['DESC_TEMPO']).count()['NUMERO_BOLETIM']

DESC_TEMPO
BOM                55340
CHUVA               4301
NEBLINA               54
NUBLADO             2304
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.groupby(['PAVIMENTO']).count()['NUMERO_BOLETIM']

PAVIMENTO
ASFALTO            61269
CALCAMENTO           428
CONCRETO             294
TERRA                  8
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.groupby(['COD_REGIONAL']).count()['NUMERO_BOLETIM']

COD_REGIONAL
18     5814
19    11344
20     5258
21     6333
22     8432
23     4898
24     6840
25     8361
26     4719
Name: NUMERO_BOLETIM, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61999 entries, 1 to 193020
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NUMERO_BOLETIM         61999 non-null  object
 1   DATA_HORA_BOLETIM      61999 non-null  datetime64[ns]
 2   DATA_INCLUSAO          61999 non-null  datetime64[ns]
 3   TIPO_ACIDENTE          61999 non-null  object
 4   DESC_TIPO_ACIDENTE     61999 non-null  object
 5   COD_TEMPO              61999 non-null  int64
 6   DESC_TEMPO             61999 non-null  object
 7   COD_PAVIMENTO          61999 non-null  int64
 8   PAVIMENTO              61999 non-null  object
 9   COD_REGIONAL           61999 non-null  int64
 10  DESC_REGIONAL          61999 non-null  object
 11  ORIGEM_BOLETIM         61999 non-null  object
 12  LOCAL_SINALIZADO       61999 non-null  object
 13  COORDENADA_X           61999 non-null  float64
 14  COORDENADA_Y           61999 non-null  float64
 15  INDICADOR_FATALIDADE   61999 non-null  object
 16  VALOR_UPS              61999 non-null  int64
 17  DESC_UPS               61999 non-null  object
 18  NUMERO_MUNICIPIO       61999 non-null  int64
 19  NOME_MUNICIPIO         61999 non-null  object
 20  SEQUENCIA_LOGRADOUROS  61999 non-null  int64
 21  NUMERO_LOGRADOURO      61999 non-null  int64
 22  TIPO_LOGRADOURO        61999 non-null  object
 23  NOME_LOGRADOURO        61999 non-null  object
 24  NUMERO_BAIRRO          61999 non-null  int64
 25  NOME_BAIRRO            61999 non-null  object
 26  TIPO_BAIRRO            61999 non-null  object
 27  DESCRICAO_TIPO_BAIRRO  61999 non-null  object
 28  NUMERO_IMOVEL          61999 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(8), object(17)
memory usage: 14.2+ MB

In [ ]:
df.shape

(61999, 29)

In [ ]:
df.head()

,NUMERO_BOLETIM,DATA_HORA_BOLETIM,DATA_INCLUSAO,TIPO_ACIDENTE,DESC_TIPO_ACIDENTE,COD_TEMPO,DESC_TEMPO,COD_PAVIMENTO,PAVIMENTO,COD_REGIONAL,...,NOME_MUNICIPIO,SEQUENCIA_LOGRADOUROS,NUMERO_LOGRADOURO,TIPO_LOGRADOURO,NOME_LOGRADOURO,NUMERO_BAIRRO,NOME_BAIRRO,TIPO_BAIRRO,DESCRICAO_TIPO_BAIRRO,NUMERO_IMOVEL
1,161,2011-12-31 22:16:00,2012-02-14,H08002,CHOQUE MECANICO COM VITIMA ...,1,BOM,1,ASFALTO,18,...,BELO HORIZONTE,1,10320,ROD,ANEL RODOVIARIO CELSO MELLO AZEVEDO ...,610,DAS INDUSTRIAS ...,B,BAIRRO,S/N
2,198,2011-01-01 00:50:00,2011-10-02,H01002,ABALROAMENTO COM VITIMA ...,1,BOM,1,ASFALTO,19,...,BELO HORIZONTE,1,17228,AVE,DO CONTORNO ...,617,BARRO PRETO ...,B,BAIRRO,10660
3,223,2011-01-01 00:20:00,2011-10-02,H04000,QUEDA DE PESSOA DE VEICULO ...,1,BOM,1,ASFALTO,20,...,BELO HORIZONTE,1,45395,AVE,MEM DE SA ...,1307,CONEGO PINHEIRO PRIMEIRA SECAO ...,B,BAIRRO,199
6,343,2011-12-31 22:27:00,2012-02-14,H01002,ABALROAMENTO COM VITIMA ...,1,BOM,1,ASFALTO,20,...,BELO HORIZONTE,1,40770,RUA,LEOPOLDO GOMES ...,1246,ALTO VERA CRUZ ...,B,BAIRRO,2164
7,442,2011-09-07 23:35:00,2011-08-24,H01002,ABALROAMENTO COM VITIMA ...,1,BOM,1,ASFALTO,25,...,BELO HORIZONTE,1,54816,AVE,PORTUGAL ...,699,ITAPOA ...,B,BAIRRO,4611

# Salvando em CSV

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Projeto Grupo 12/Datasets/df_final.csv')